<div class="flex flex-col gap-4">
  <h1 class="font-bold text-2xl text-white">Articles</h1>
  <% if @published_articles.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    <% @published_articles.each do |article| %>
      <%= render article %>
    <% end %>
    </div>
    <% else %>
      <p class="text-center text-slate-400 my-16">No articles found.</p>
  <% end %>
</div>
